{% extends "msliga_base.html" %}
{% load i18n rating_tags %}

{% block head-title %} {{object.firstName }} {{object.lastName }} — {{block.super}} {% endblock %}


{% block title %}
{{object.firstName }} {{object.lastName }} — {% trans "Соперники" %} — {{block.super}}
{% endblock %}


{% block content %}
<h1>{{object.firstName}} {{object.lastName}}</h1>
  <div class="tabs">
	<ul>
		<li>
			<a href="{% url "competitor" object.id %}">{% trans "Турниры" %}</a>
		</li>
		<li>
			<a href="{% url "competitor_leagues" object.id %}">{% trans "Лига" %}</a>
		</li>
		<li class="selected">
			<a href="{% url "competitor_rivals" object.id %}">{% trans "Статистика матчей" %}</a>
		</li>
	</ul>
</div>
    
	
	<table>
		<theader>
		<th>{% trans "№" %}</th>
		<th>{% trans "Игрок1" %}</th>
		<th></th>
		<th>{% trans "Игрок2" %}</th>
		<th>{% trans "Счёт по личным встречам" %}</th>
		</theader>
		<tbody>
			{% for r in rivals|dictsort:"object.lastName" %} 
			<tr>
				<td><strong>{{ forloop.counter }}</strong></td>
				<td><a href="{% url "competitor_leagues" object.id %}">{{object.lastName}} {{object.firstName}}</a></td>
				<td><a href="{% url "competitors_vs" object.id r.object.id %}">vs.</a></td>
				<td><a href="{% url "competitor_leagues" r.object.id %}">{{r.object.lastName}} {{r.object.firstName}}</a></td>
				<td><strong>{{ r.games_count|score:r.wins }}</strong></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
