{% extends "base.html" %}

{% load i18n rating_tags %}

{% block breadcrumbs %}
    <div class="tabs menu">
    	<ul>
    		<li {% if request.path_info|resolved_url_name|is_in:"league_list" %}class="selected" {% endif %}>
          <a href="{% url "league_list" %}">{% trans 'Все лиги' %}</a>
    		</li>
        <li {% if request.path_info|resolved_url_name == 'league_statement' %}class="selected" {% endif %}>
          <a href="{% url "league_statement" %}">{% trans 'Положение лиги' %}</a>
    		</li>
        <li {% if request.path_info|resolved_url_name == 'league_rules' %}class="selected" {% endif %}>
          <a href="{% url "league_rules" %}">{% trans 'Правила расчета рейтинга' %}</a>
    		</li>
    	</ul> 
    </div>
{% endblock %}

{% block extrastyle %}
	{{ block.super }}
	
	
	<style type="text/css">
	
	th.rating {
		color: #D00;
		/*border-right: 1px solid;
		border-left: 1px solid;
		border-top: 1px solid;
		border-top-color: #D00;
		border-left-color: #D00;
		border-right-color: #D00;*/
	}
	
	td.rating {
		color: #D00;
		/*border-right: 1px solid;
		border-left: 1px solid;
		border-top: 1px solid;
		border-left-color: #D00;
		border-right-color: #D00;*/
	}
	tr.last td.rating {
		/*border-bottom: 1px solid;
		border-bottom-color: #D00;*/
	}
	.rating-date-info {
		color: #D00;
		margin-bottom: 10px;
		/*margin-left: 400px;*/
	}
	.results-title {
        	margin-top: 20px;
    	}
	tr.not-paid {
		opacity: 0.3;
	}
    </style>
	
{% endblock %}

{% block sponsors %}
    <div style="float:left">
       
        <div style="margin-left: 150px;display:inline-block;">
            <p>Cпонсор</p>
            <a href="http://action.ru"><img style="height:80px" src="/assets/action.png"></a>
        </div>
        <div style="margin-left: 50px;display:inline-block;">
            <p>Организатор</p>
            <a href="http://squashfab.ru"><img style="height:80px" src="/assets/squash_logo.png"></a>
        </div>
               
    </div>
{% endblock %}

