{% extends "initial_base.html" %}
{% load admin_static i18n rating_tags %}

{% block title %}{{site.name}}{% endblock %}
{% block blockbots %}
<meta name="robots" content="FOLLOW" />
<meta name="DOCUMENT-STATE" CONTENT="DYNAMIC" />
{% endblock %}

{% block extrastyle %}
	{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}" />
{% endblock %}


{% block branding %}
<h1 id="site-name"><a href="{% url "index" %}">{% trans 'kortov.net' %}</a></h1>
{% endblock %}

{% block nav-global %}
		<div id="menu">
			<ul>
				<li {% if request.path_info|match:"^/tournaments" %}class="selected" {% endif %}><a href="{% url "tournaments" %}">{% trans "Рейтинг игроков в сквош" %}</a></li>
				<li {% if request.path_info|match:"^/competitors" %}class="selected" {% endif %}><a href="{% url "competitors" %}">{% trans "Участники" %}</a></li>
			</ul>
		</div>
{% endblock %}

{% block usertools %}
{% endblock %}

{% block reformal %}
<script type="text/javascript">
    var reformalOptions = {
        project_id: 45461,
        project_host: "kortov-net.reformal.ru",
        tab_orientation: "left",
        tab_indent: "50%",
        tab_bg_color: "#417690",
        tab_border_color: "#FFFFFF",
        tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/2a94cfe6511106e7a48d0af3904e3090/left/1/tab.png",
        tab_border_width: 1
    };
    
    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://kortov-net.reformal.ru">Oтзывы и предложения для Система рейтингования игроков в сквош</a></noscript>
{% endblock %}

{% block reformal_old %}
<script type="text/javascript">
reformal_wdg_domain    = "kortov-net";
reformal_wdg_mode    = 0;
reformal_wdg_title   = '{% trans "Система рейтингования игроков в сквош" %}';
reformal_wdg_ltitle  = '{% trans "Оставьте свой отзыв" %}';
reformal_wdg_lfont   = "";
reformal_wdg_lsize   = "";
reformal_wdg_color   = "#D44";
reformal_wdg_bcolor  = "#516683";
reformal_wdg_tcolor  = "#666";
reformal_wdg_align   = "left";
reformal_wdg_charset = "utf-8";
reformal_wdg_waction = 0;
reformal_wdg_vcolor  = "#D44";
reformal_wdg_cmline  = "#E0E0E0";
reformal_wdg_glcolor  = "#105895";
reformal_wdg_tbcolor  = "#666";
 
reformal_wdg_bimage = "7688f5685f7701e97daa5497d3d9c745.png";
 
</script>

<script type="text/javascript" language="JavaScript" src="http://reformal.ru/tab6.js?charset=utf-8"></script><noscript><a href="http://kortov-net.reformal.ru">Система рейтингования игроков в сквош feedback </a> <a href="http://reformal.ru"><img src="http://reformal.ru/i/logo.gif" /></a></noscript>

{% endblock %}

{% block extrahead %}
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"/>  
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
<META HTTP-EQUIV="Expires" CONTENT="-1"/>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}
