{% extends "base.html" %}

{% load i18n rating_tags %}

{% block breadcrumbs %}
{% endblock %}


{% block content %}
<div class="text">
{% autoescape off %}
   {{flatpage.content}}
{% endautoescape %}
</div>
<div>
	<h3>{% trans "TOP-3 по категориям" %}</h3>
	<p class="lm-date">{% trans "Дата проведения последнего турнира" %}: {% if last_tournament %}<a href="{% url "tournament" last_tournament.id %}">{{last_tournament.end_date}}</a>{% else %}-{% endif %}</p>
	{% for c in categories %}
    <div class="top-list">
			<h4><a href="{% url "category" c.category.id %}">{{c.category.title}}</a>:</h4>
			<table>
				<theader>
					<th>№</th>
					<th>{% trans "Участник" %}</th>
					<th>{% trans "Рейтинг" %}</th>
					<th>+/-</th>
				</theader>
				<tbody>
				{% for p in c.places %}
					<tr>
						<td>{{p.place}}</td>
						<td class="td_name"><a href="{% url "competitor" p.object.id %}">{{p.object.id|get_competitor_attr:"lastName"}} {{p.object.id|get_competitor_attr:"firstName"}}</a></td>
						<td>{{p.rating }}</td>
						<td>{% autoescape off %}
								{{p.place_delta|show_arrow}}/{{p.rating_delta|show_sign}}
							{% endautoescape %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
    </div>
	{% endfor %}

</div>

{% endblock %}


