{% extends "base.html" %}

{% load i18n %}

{% block title %}
{{object.firstName }} {{object.lastName }} — {% trans "Турниры" %} — {{block.super}}
{% endblock %}

{% block content %}
  <h1>{{object.firstName}} {{object.lastName}}</h1>

<div id="params">
  <h3>{% trans "Рейтинг по категориям" %}</h3>
  <table>
	  <theader>
	    <th>{% trans "Категория" %}</th>
	    <th>{% trans "Рейтинг" %}</th>
      <th>{% trans "Место в рейтинге" %}</th>
    </theader>
    <tbody>
      {% for cat, place, rating in object_categories %}
        <tr>
          <td><a href="{% url "category" cat.id %}">{{ cat }}</a></td>
          <td><span>{{ rating }}</span></td>
          <td><span>{{ place }}</span></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
<div id="table">
<h3>{% trans "Турниры" %}</h3>
<table>
	<theader>
	<th>{% trans "№" %}</th>
	<th class="tournament-name">{% trans "Турнир" %}</th>
	<th class="tournament-date">{% trans "Дата" %}</th>
	<th class="tournament-place">{% trans "Место проведения" %}</th>
	<th>{% trans "Категория" %}</th>
	<th>{% trans "Занятое место" %}</th>
	<th>{% trans "Количество участников" %}</th>
	<th>{% trans "Очки" %}</th>
	</theader>
	<tbody>
		{% for r in object.resultset_points|dictsortreversed:"0.resultset.tournament.start_date" %} 
		<tr>
			<td>{{forloop.counter}}</td>
			<td><a href="{% url "resultset" r.0.resultset.tournament.id r.0.resultset.category.id %}">{{ r.0.resultset.tournament }}</a></td>
			<td><span>{{ r.0.resultset.tournament.get_date }}</span></td>
			<td><span>{% for l in r.0.resultset.locations__set.all%}{{ l }}{%if not forloop.last%}, {%endif%}{%endfor%}</span></td>
			<td><span>{{ r.0.resultset.category }}</span></td>
			<td><span>{{ r.0.place }}</span></td>
			<td><span> {{ r.0.resultset.competitors_count}}</span></td>
			<td><span{% if r.2 %}class="rated"{% endif %}>{{ r.1 }}{% if r.2 %}*{% endif %}</span></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
<!--  div id="history">
	<ul>
		{% for r in rating_history %}
		<li>{{ r }}</li>
		{% endfor %}
		<li></li>
	</ul>
</div-->

{% endblock %}
