{% extends "base.html" %}

{% load i18n rating_tags %}

{% block breadcrumbs %}
    <div class="tabs menu">
    	<ul>
    		{% for c in categories %}
          {% url "category" c.id as url_string %}
    			<li {% if request.path_info|resolved_url_name = 'category' and c.id = category.id %}class="selected" {% endif %}>
    				<a href="{{ url_string }}">{{ c.title }}</a>
    			</li>
    		{% endfor %}
    		
    		<li {% if request.path_info|resolved_url_name|is_in:"tournament_list, tournament, resultset" %}class="selected" {% endif %}>
          <a href="{% url "tournament_list" %}">{% trans 'Все турниры' %}</a>
    		</li>
    		
    		<li {% if request.path_info|resolved_url_name = 'rules' %}class="selected" {% endif %}>
          <a href="{% url "rules" %}">{% trans 'Правила расчета рейтинга' %}</a>
    		</li>
    	</ul> 
    </div>
{% endblock %}

